{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "endOfLine": "auto",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": ["^@src/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
